* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    white-space: nowrap
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000000;
    font-size: 100px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 0 0 5px white;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.3);
    border: solid 3px transparent;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

#name {
    font-size: 35%;
    text-align: center;
    position: absolute;
    top: 4%;
    color: white;
    display: none;
}

#scores {
    font-size: 80%;
    border: 1px solid white;
    margin-top: 1vh;
    border-radius: 25px;
    /* box-shadow: 0px 0px 10px white; */
}

#scores > ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 2vh 0 2vh;
}

#scoreboard {
    display: none;
    text-align: center;
    color: white;
    font-size: 25%;
    left: 5%;
    height: 30vh;
    position: absolute;
}

#navusers {
    height: 30vh;
    width: 25vh;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    border: 1px solid white;
    border-radius: 5px;
}

#navusers nav ul {
    cursor: pointer;
}

nav ul {
    height: 100%;
    text-align: center;
    padding: 5% 0 5% 0;
    border-bottom: 0.5px solid white;
}

nav ul:last-child {
    border-bottom: none;
}

#connectedusers {
    z-index: 999;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20%;
    margin: 5% 0 5% 0;
}

#pannel {
    width: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

#messages {
    color: rgba(255, 0, 0, 0.90);
    font-size: 30%;
    margin-top: 1%
}

#params {
    z-index: 999;
}

#form-params > span {
    font-size: 150%;
}

#form-params > input {
    display: none;
}

#form-params > label {
    cursor: pointer;
    padding: 5% 15%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: none;
    border-radius: 30px;
}

#form-params {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 30%;
}

#form-login, #form-register {
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    border: none;
    z-index: 999;
}

input[type=text], input[type=password], input[type=email], #loginbutton {
    color: white;
    background-color: transparent;
    font-size: 30%;
    padding: 2% 15%;
    text-decoration: none;
    border: none;
    text-align: center;
}

input[type=text], input[type=email] {
    border-bottom: 1px solid white;
}

#paramSendButton {
    margin-top: 20%;
    font-size: 150%;
    color: white;
    padding: 5% 15%;
    cursor: pointer;
    border: none;
    border-radius: 30px;
}

#loginbutton {
    margin-top: 5%;
    padding: 5% 15%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:focus {
    outline: 0;
}

#home, #disconnect {
    position: absolute;
    top: 90%;
    z-index: 999;
    background-color: transparent;
    font-size: 20%;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

#connexion, #inscription, #local {
    display: none;
    padding: 7.5% 10% 7.5% 10%;
    margin: 5% 0 5% 0;
    font-size: 30%;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#disconnect {
    display: none;
    border: none;
    background-color: rgba(255, 0, 0, 0.25);
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.25), 0px 0px 10px rgba(255, 0, 0, 0.25), 0px 0px 15px rgba(255, 0, 0, 0.25), 0px 0px 20px rgba(255, 0, 0, 0.25), 0px 0px 30px rgba(255, 0, 0, 0.25), 0px 0px 40px rgba(255, 0, 0, 0.25), 0px 0px 55px rgba(255, 0, 0, 0.25);
}

#disconnect:hover {
    background-color: rgba(255, 0, 0, 0.75);
    box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.50), 0px 0px 10px rgba(255, 0, 0, 0.50), 0px 0px 15px rgba(255, 0, 0, 0.50), 0px 0px 20px rgba(255, 0, 0, 0.50), 0px 0px 30px rgba(255, 0, 0, 0.50), 0px 0px 40px rgba(255, 0, 0, 0.50), 0px 0px 55px rgba(255, 0, 0, 0.50);
}

#home {
    border: none;
    background-color: rgba(0, 255, 255, 0.35);
    box-shadow: 0px 0px 5px rgba(0, 255, 255, 0.10), 0px 0px 10px rgba(0, 255, 255, 0.10), 0px 0px 15px rgba(0, 255, 255, 0.10), 0px 0px 20px rgba(0, 255, 255, 0.10), 0px 0px 30px rgba(0, 255, 255, 0.10), 0px 0px 40px rgba(0, 255, 255, 0.10), 0px 0px 55px rgba(0, 255, 255, 0.10);
}

#home:hover {
    background-color: rgba(0, 255, 255, 0.60);
    box-shadow: 0px 0px 5px rgba(0, 255, 255, 0.25), 0px 0px 10px rgba(0, 255, 255, 0.25), 0px 0px 15px rgba(0, 255, 255, 0.25), 0px 0px 20px rgba(0, 255, 255, 0.25), 0px 0px 30px rgba(0, 255, 255, 0.25), 0px 0px 40px rgba(0, 255, 255, 0.25), 0px 0px 55px rgba(0, 255, 255, 0.25);
}

#local {
    background-color: rgba(255, 255, 255, 0.50);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.10), 0px 0px 10px rgba(255, 255, 255, 0.10), 0px 0px 15px rgba(255, 255, 255, 0.10), 0px 0px 20px rgba(255, 255, 255, 0.10), 0px 0px 30px rgba(255, 255, 255, 0.10), 0px 0px 40px rgba(255, 255, 255, 0.10), 0px 0px 55px rgba(255, 255, 255, 0.10);
}

#local:hover {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.25), 0px 0px 10px rgba(255, 255, 255, 0.25), 0px 0px 15px rgba(255, 255, 255, 0.25), 0px 0px 20px rgba(255, 255, 255, 0.25), 0px 0px 30px rgba(255, 255, 255, 0.25), 0px 0px 40px rgba(255, 255, 255, 0.25), 0px 0px 55px rgba(255, 255, 255, 0.25);
}

/*
let css_cell = {
    width: 150px;
    height: 150px;
z-index: 1
};

let css_score = {
    color: white;
    position: absolute;
    display: flex;
    top: 80%;
    height: '75px';
font-size: 100px;
z-index: 1
};

let css_damier = {
    display: inherit;
z-index: 1
};*/
